.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 -0.5rem;
}

.image-container {
  flex: 0 0 calc(14.2857% - 1rem);
  border: 2px solid #4a4a4a;
  border-radius: 8px;
  overflow: hidden;
  padding: 2rem 2rem 0;
  margin: 0.5rem;
  text-align: center;
  height: 11.5rem;
}

.js-logo,
.ts-logo,
.react,
.python,
.cpp {
  width: 100%;
  height: auto;
  max-width: 15rem;
  max-height: 15rem;
}

.html,
.css,
.cpp {
  width: 100%;
  height: auto;
  max-width: 12rem;
  max-height: 13rem;
}

.image-container:hover,
.image-container:hover h2,
.image-container:hover .html-logo,
.image-container:hover .css-logo,
.image-container:hover .react-logo,
.image-container:hover .python-logo,
.image-container:hover .cpp-logo {
  background-color: #c0aaff;
  transition: background-color 0.8s ease;
}
