.right-arrow {
  position: absolute;
  top: 50%;
  right: 1rem; /* Adjust the right position to create space */
  transform: translateY(-50%);
  color: gray;
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  z-index: 3; /* Ensure the arrows are on top */
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 1rem; /* Adjust the left position to create space */
  transform: translateY(-50%);
  color: gray;
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  z-index: 3; /* Ensure the arrows are on top */
}

.image-container {
  position: relative;
  width: 100%;
  flex: 0 0 100%;
  overflow: hidden; /* Ensure the image is not cut off */
  padding: 0 .75rem; /* Add padding to create space for the arrows */
  z-index: 2; /* Ensure the images are below the arrows */
}

